fastapi~=0.105.0
SQLAlchemy~=2.0.23
asyncpg~=0.29.0
pydantic~=2.5.2
pydantic-settings~=2.1.0
python-dotenv~=1.0.0
alembic~=1.13.1
bcrypt==4.0.1
fastapi-users~=12.1.2
fastapi-users-db-sqlalchemy~=6.0.1
uvicorn~=0.24.0.post1
email-validator~=2.0.0.post2
setuptools~-69.0.2
passlib~=1.7.4
watchdog~=3.0.0
